html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: bisque;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#sections {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
  border-bottom: 1px solid #ccc;
}

#header img {
  height: 2em;
  margin-right: 0.5em;
}

#logo {
  font-size: 1.5em;
  font-weight: bold;
}

#controls {
  margin-left: auto;
}

#controls button {
  font-size: 1em;
  background: white;
  border: 1px solid #888;
  border-radius: 0.5em;
  height: 2.5em;
  width: 4em;
}

#controls button:hover {
  background: #eee;
}

#main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#blockly-container {
  flex: 4;
}

#log-panel {
  width: 20em;
  background-color: #eee;
  overflow-y: auto;
}

#log-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.25em;
  padding: 0.5em;
}

#log-list li:not(:first-child) {
  margin-top: 0.25em;
}
