html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: bisque;
  padding: 0;
  margin: 0;
}

#sections {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
}

#header img {
  height: 2em;
  margin-right: 0.5em;
}

#logo {
  font-size: 1.5em;
  font-weight: bold;
}

#controls {
  margin-left: auto;
}

#controls button {
  font-size: 1em;
  background: white;
  border: 1px solid #888;
  border-radius: 0.5em;
  height: 2.5em;
  width: 4em;
}

#controls button:hover {
  background: #eee;
}

#blockly-container {
  flex: 1;
}
